* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    transition: all 0.3s;
}
body{
    background-color:rgb(255, 248, 219);
}

header {
    width: 100%;
    height: 80px;
    background-color: rgba(242, 206, 218, 0.6);
  }
  
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 55px;
    width: 100%;
    background-color: rgba(242, 206, 218, 0.6);
    position: fixed;
    z-index: 10;
}
  
nav .logo {
    width: 160px;
    height: 70px;
    margin-left: 160px;
}
  
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
    margin-top: 41px;
    list-style: none;
}
  
nav ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    color: rgba(21, 1, 1, 0.6);
}
  
nav ul li a:hover {
    color: #ff0000;
    text-decoration: underline;
}
  
nav ul li .home {
    font-weight: 700;
    font-size: 18px;
    color: #d23166;
}
  
nav .h_btn {
    width: 165px;
    height: 49px;
    background: #d23166;
    border-radius: 5px;
    margin-top: 25px;
    font-family: Hind Madurai;
    font-weight: 700;
    font-size: 16px;
    color: #fafafa;
    margin-right: 170px;
}
  
nav .h_btn:hover {
    background-color: hsl(0, 59%, 41%);
}

.aboutUsSection{
   background-color:  rgba(210, 49, 102, 0.4);
    height:270px;
    display:flex;
    justify-content: center;
}
.aboutUsText{
    font-size: 60px;
    margin-top: 100px;
    color:#ffffff;
    font-family:'Roboto';
    font-weight:500;
}



.text_block{
  width:100%;    
  background-color: rgb(95, 158, 160);
}


p{
    font-family:'Roboto';
    font-weight:400;
    color:hsl(0, 0%, 0%);
}
.fig {
    display: block;
    text-align: center; 
    font-family:'Roboto'; 
    margin-top: 50px; 
    margin-bottom: 50px; 
    color:#000000; 
   }
.title_history{
    font-size: 30px;
    font-family: 'Hind';
    font-weight: 500;
    margin-bottom: 50px;
}
.img_caption{
    width:600px;
    height:400px;
   margin-bottom:50px;
}
.text_history{
    margin-top:50px;
    margin-bottom:50px;
}
footer {
    width: 100%;
    height: 250px;
    background: #0a0808;
    padding-top: 50px;
  }
  
  footer .f_logo {
    width: 190px;
    height: 90px;
    margin-left: 50px;
  }
  
  footer .f_title_1 {
    margin-left: 50px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 17px;
    color: #ffffff;
  }
  
  footer .f_int {
    margin-top: 8px;
    margin-left: 50px;
  }
  
  footer .f_int_ico {
    width: 25px;
    height: 25px;
  }
  
  footer .f_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
    height: 30px;
    list-style: none;
    margin-right: 90px;
    margin-top: 60px;
  }
  
  footer .f_ul li a {
    text-decoration: none;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  footer .f_ul li .f_home {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
  }
  
  footer .f_ul li:hover {
    text-decoration: underline;
  }
  
  footer .f_title_2 {
    margin-top: 40px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 15px;
  }
  
  footer .f_form input {
    border: 2px solid #D64374;
    border-radius: 5px;
    height: 55px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 32px;
  }
  
  footer .f_form button {
    width: 100px;
    height: 58px;
    background: #D64374;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
  }
  
  footer .f_form button:hover {
    background-color: rgb(165, 42, 42);
  }
  
  @media (max-width: 1400px) {
	header {
	  height: 80px;
	}
	nav {
	  flex-wrap: nowrap;
	}
	nav a .logo {
	  width: 140px;
	  height: 65px;
	  margin-left: 50px;
	  margin-top: 10px;
	}
	nav ul {
	  margin-right: 20px;
	}
	nav .h_btn {
	  margin-right: 60px;
	}
	
  }
  
  @media (max-width: 1200px) {
	header {
	  height: 80px;
	}
	nav {
	  flex-wrap: nowrap;
	}
	nav a .logo {
	  width: 140px;
	  height: 65px;
	  margin-left: 50px;
	  margin-top: 10px;
	}
	nav ul {
	  margin-right: 20px;
	}
	nav .h_btn {
	  margin-right: 60px;
	}
	footer .f_form input {
	  width: 200px;
	}
  }
  
  @media (max-width: 991px) {
	header {
	  height: 80px;
	}
	header nav ul li a {
	  font-size: 14px;
	}
	header .h_btn {
	  width: 130px;
	  height: 40px;
	}
	footer .col_none {
	  display: none;
	}
	footer .f_ul {
	  width: 500px;
	  margin-left: 70px;
	}
	footer{
		height: 130px;
		padding-top: 0;
	}
  }
  
